<app-navbar *ngIf="isMyTweets"></app-navbar>
<div class="container">
  <div *ngFor="let user of get">
    <div
      class="card border-secondary mb-3 my-auto mx-auto"
      style="max-width: 30rem; margin-top: 10em"
    >
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-8">
              <h4 class="card-text">{{ user.username | uppercase }}</h4>
            </div>
            <div class="col-4 ml-auto">
              <img
                src="../../assets/images/delete.png "
                width="50"
                height=""
                alt="delete"
                srcset=""
                class="ml-auto"
                (click)="delete(user.id)"
              />
              <img
                src="../../../assets/images/edit.png"
                width="50"
                height=""
                alt="edit"
                srcset=""
                id="edit"
                (click)="editYourTweet(user.id)"
              />
            </div>
          </div>
        </div>

        <div class="col-8">
          <small *ngIf="tweetExist && id!=user.id"> {{ user.tweetText }}</small>
        </div>
        <div class="col-8" *ngIf="div1 && id==user.id">          
          <textarea name="tweetText" id="tweetText"
          [(ngModel)]="updateTweetText" required
          class="form-control"
          rows="2" placeholder="Tweet App">{{user.tweetText}}</textarea>
          <div class="form-row">
            <button type="submit" class="btn btn-primary"
                style="background-color: green; padding: auto;
                margin-top: 5px;" (click)="edit(user.id)">Update Tweet</button>
        </div>

        </div>
        <div class="col-8">
          <small *ngIf="!tweetExist"> {{ message }}</small>
        </div>
        <div class="col-8">
          <small class="card-title">
             {{ user.postTime | date: "medium" }}
          </small>
        </div>
      </div>
      <div class="card-header bg-light">
        <p *ngFor="let reply of user.replies">
          {{ reply.username }}
          Replied :
          {{ reply.replyText }}
        </p>
      </div>
  </div>
</div>
